RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^index?$ index.php

ErrorDocument 404 /errors/404.php

ErrorDocument 500 "server gone wild..
